@import '../../Scss/main.module.scss';

.PortfolioList{

   margin: 0 auto;
position: relative;
width: 100%;


}


.viewMore{
    margin: 1rem auto;
}


.portfolioContent{
    padding: 1rem 0;
}



a:hover{
    border: none;
    outline: none;
}



.linkButtonDiv{
       display: flex;
    justify-content: space-around;
    padding: 1rem 0;
   
}
