@import '../../Scss/main.module.scss';

.About{
 width: 80%;
    margin: 0 auto;
    text-align: start;

h1{
text-align: center;
padding-top: 2rem;
}
}


@include respond(tablet){
.About{
width: 100%

}
}