@import '../../../Scss/main.module.scss';


.Button{
background: transparent;

    cursor: pointer;
    font: inherit;
    padding: 1rem ;  
    margin: 0 auto;
    font-weight: bold;
    color: $color-white;
    
     transition: all .3s ease-in-out;
    outline: none;
border: none;
   
}

.Disabled{
width: 100%;
    cursor: not-allowed;
     padding: 1rem; 
    background-color: $color-grey;
    color: $color-white;
   
    }

    .btnLink{
        
        list-style: none;
        color: white;
        

        &:hover{
text-decoration: none;
        }
    }


.Rounded{
    border-radius: .5rem;
}


.block{
    width: 100%;
    display: block;
}


.darkBlue{
border-radius: .5rem;
 color: $color-white;
 background-color: $color-darkBlue;
}
.darkGrey{
@include boxShadow(.1rem, .2rem, $color-darkGrey);
 color: $color-white;
 background-color: $color-darkGrey;


 &:hover{
     background-color: $color-white;
      color: $color-darkGrey;
 }
}

.darkGrey-outline{

 color: $color-darkGrey;
 background-color: white;

 &:hover{
color: $color-white;
 background-color: $color-darkGrey;
 }
}

.darkBlue-outline{
 color: $color-darkBlue;
@include boxShadow(.1rem, .2rem, $color-darkGrey);

}
